<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.PrefixMapper">

    <resultMap id="PrefixMapper" type="com.tencent.wxcloudrun.model.Prefix">
        <id property="id" column="id"/>
        <result property="affix" column="affix"/>
        <result property="translation" column="translation"/>
        <result property="example" column="example"/>
        <result property="category" column="category"/>
        <result property="frequency" column="frequency"/>
        <result property="note" column="note"/>
        <result property="source" column="source"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getPrefixList" resultMap="PrefixMapper" >
        SELECT *
        FROM Prefix
        <where>
            <if test="filters!=null">
                <if test="filtersJSON.category">
                    <if test="filtersJSON.category[0]==null">
                        category is null
                    </if>
                    <if test="filtersJSON.category[0]!=null">
                        category in
                        <foreach collection="filtersJSON.category" item="id" index="index" open="(" close=")" separator=",">
                            #{id}
                        </foreach>
                    </if>
                    <if test="filtersJSON.frequency">
                        and
                    </if>
                </if>
                <if test="filtersJSON.frequency">
                    <if test="filtersJSON.frequency[0]==null">
                        frequency is null
                    </if>
                    <if test="filtersJSON.frequency[0]!=null">
                        frequency in
                        <foreach collection="filtersJSON.frequency" item="id" index="index" open="(" close=")" separator=",">
                            #{id}
                        </foreach>
                    </if>
                </if>
                <if test="filtersJSON.source">
                    <if test="filtersJSON.source[0]==null">
                        source is null
                    </if>
                    <if test="filtersJSON.source[0]!=null">
                        source in
                        <foreach collection="filtersJSON.source" item="id" index="index" open="(" close=")" separator=",">
                            #{id}
                        </foreach>
                    </if>
                </if>
                <if test="keyword!=null">
                    and
                </if>
            </if>
            <if test="keyword!=null">
                (affix like "%"#{keyword}"%" or translation like "%"#{keyword}"%")
            </if>
        </where>
        ORDER BY affix
    </select>

    <update id="insertPrefix">
        INSERT INTO Prefix(affix,translation,example,category,frequency,source,note)
            VALUE(#{affix}, #{translation}, #{example}, #{category}, #{frequency}, #{source}, #{note})
    </update>

    <update id="editPrefix">
        UPDATE Prefix
        SET affix=#{affix}, translation=#{translation},example=#{example},category=#{category},frequency=#{frequency},source=#{source}, note=#{note}
        WHERE id = #{id}
    </update>

    <update id="deletePrefix" parameterType="java.lang.Integer">
        DELETE
        FROM Prefix
        WHERE id = #{id}
    </update>

</mapper>
